#dist: xenial
language: go

env:
  - GO111MODULE=on

go:
  - "1.14.x"

git:
  depth: 1

# Skip installation and only use vendor/
# install: true

notifications:
  email: false

before_script:
  #  - go install github.com/golangci/golangci-lint/cmd/golangci-lint
  #  - GO111MODULE=on go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.16.0
  - curl -sfL
    https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s
    -- -b $(go env GOPATH)/bin v1.20.0

script:
  - golangci-lint run
  - go test -v -race -coverprofile=coverage.out -covermode=atomic ./...
#  - "{ go tool cover -func=coverage.out | grep '^total:.*100.0%'; } || { echo 'WARNING - Coverage below 100%'; exit 0; }"

#after_success:
#  - bash <(curl -s https://codecov.io/bash)
